:root {
    --branco-primario: #ffffff;
    --cinza-secundario: #c0c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
    --font-principal: 'inter';
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-primario);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}


* {
    margin: 0%;
    padding: 0%;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 15px;
    color: var(--branco-primario);
    text-decoration: none;
    text-align: center;
    margin-bottom: 1em;
}

.container__botao2 {
    background-color: transparent;
    display: block;
    border: 1px solid var(--branco-primario);
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: var(--branco-primario);
    margin-bottom: 1em;
}

.container__aviso {
    font-size: 13px;
    color: var(--cinza-secundario);
}

.container_titulo {
    font-size: 28px;
    font-weight: 400;
}

.container__imagem {
    margin: 2em 0 2em 0;
}
 

.container__caixote {
    margin: 0 9rem 0 2rem;
    
}

.imagem__secundaria {
    width: 80%;
}

.container__descricao {
    color: var(--branco-primario);
}

.descricao__titulo {

    color: var(--branco-primario);
     font-size: 48px;


}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    font-size: 16px;
    margin-top: 8px;
}

.terceario {

    align-items: center;

}

.container__descricao2 {
    color: var(--cinza-secundario);
    margin: 0 8em;
}
.descricao__texto2{
   font-size: 20px;
}


.imagem__tercearia {
    width: 80%;
}

.container__botao3 {
    background-color: var(--botao-azul);
    display: inline-block;
    margin-top: 1em;
    color: var(--branco-primario);
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
}
.container__quatro{
   align-items: center;
   margin: 0 8rem;
   display: flex;
   
   
}
.imagem__quatro{
  width: 60%;
}
.descricao__texto3{
    color: var(--cinza-secundario);
    font-size: 20px;
    margin-top: 8px;

}
.descricao__titulo2{
    color: var(--branco-primario);
    font-size: 48px;
    
}



    

