:root {
    --branco-primario: #ffffff;
    --cinza-secundario: #c0c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
    --font-principal: 'inter';
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-primario);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}


* {
    margin: 0%;
    padding: 0%;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    background-size: contain;

}

.container_principal {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 15px;
    color: var(--branco-primario);
    text-decoration: none;
    text-align: center;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: black;
    color: aliceblue;
}

.container__botao2 {
    background-color: transparent;
    display: block;
    border: 1px solid var(--branco-primario);
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: var(--branco-primario);
    margin-bottom: 1em;
}

.container__aviso {
    font-size: 13px;
    color: var(--cinza-secundario);
}

.container_titulo {
    font-size: 28px;
    font-weight: 400;
}

.container__imagem {
    margin: 22px 86px 31px 78px;
}


.container__caixote {
    margin: 22px 150px 120px 70px;

}

.imagem__secundaria {
    width: 80%;
}

.container__descricao {
    color: var(--branco-primario);
}

.descricao__titulo {

    color: var(--branco-primario);
    font-size: 48px;


}

.secundario {
    align-items: center;
    margin: -1rem 8em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    font-size: 16px;
    margin-top: 8px;
}

.terceario {

    align-items: center;
    margin-top: 0em;

}

.container__descricao2 {
    color: var(--cinza-secundario);
    margin: 0em 6em;
}

.descricao__texto2 {
    font-size: 16px;
}


.imagem__tercearia {
    width: 80%;
}

.container__botao3 {
    background-color: var(--botao-azul);
    display: inline-block;
    margin-top: 1em;
    color: var(--branco-primario);
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
}

.container__quatro {
    align-items: center;
    margin: 8rem;
    display: flex;


}

.imagem__quatro {
    width: 60%;
}

.descricao__texto3 {
    color: var(--cinza-secundario);
    font-size: 20px;
    margin-top: 10px;

}

.descricao__titulo2 {
    color: var(--branco-primario);
    font-size: 48px;

}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 25px;
}

.dispositivos {
    text-align: center;
    margin-top: 15em;
    margin-bottom: 8em;

}

.descricao__titulo3 {
    font-size: 48px;
    color: var(--branco-primario);
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
    text-decoration: none;
    margin-bottom: 1em;

}

.lista__link a {
    text-decoration: none;
    color: var(--branco-primario);

}

.descricao__texto4 {
    text-align: center;
    color: var(--cinza-secundario);
    margin-bottom: 1em;
    font-size: 14px;

}

.logo {
    width: 100px;
    margin-bottom: 2rem;
}

.rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5em 10em;
    /* background-color: red; */
}