:root {
    --branco-primario: #ffffff;
    --cinza-secundario: #c0c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-primario);
}

* {
    margin: 0%;
    padding: 0%;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;

}

.container {
    height: 100vh;
}